body {
  background-color: rgb(250, 211, 166);
}
.container{
  max-width: 900px;
  margin: auto, 0px;
}
.hidden {
  display: none;
}
#intro {
  padding: 20px;
}
#welcome {
  font-size: 1.2em;
  font-weight: 700;
}
form {
  background-color: rgb(235, 167, 91);
  padding: 18px;
  border-radius: 10px;
}
#output-div {
  text-align: center;
  margin: 10px 10px 30px 10px;
}

.btn {
  background-color: rgb(122, 185, 187);
}

.btn:hover {
  background-color: cornflowerblue;
}

.btn:active {
  color: rgb(100, 102, 131);
}