body {
  background-color: rgb(250, 211, 166);
}
.container{
  max-width: 900px;
  margin: auto, 0px;
}
.hidden {
  display: none;
}
#output-div {
  text-align: center;
  margin: 10px 10px 30px 10px;
}

#intro {
  padding: 20px;
}
#welcome {
  font-size: 1.2em;
  font-weight: 700;
}